---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* Photo layout */
.photo-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.photo-figure {
  text-align: center;
  margin: 0;
}

.photo-figure figcaption {
  font-size: 0.9em;
  margin-bottom: 0.4rem;
}

.photo-img-sm {
  max-width: 200px;
  width: 100%;
}

.photo-img-md {
  max-width: 250px;
  width: 100%;
}

.photo-img-tall {
  max-height: 250px;
  width: auto;
}
